.inactive {
    display: none;
}

.arrow {
    text-align: center;
    margin: auto;
    padding-top: 5px;
    border: 2px solid black;
    border-radius: 50%;
    width: 50px;
}

.arrow:hover {
    background-color: aqua;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin: 15px 0px 15px 0px;
}

.characters {
    display: flex;
    width: 100%;
}

.character-box {
    margin: auto;
}

.character {
    border: 2px solid black;
    border-radius: 50%;
    overflow: hidden;
    height: 80px;
}

.active {
    background-color: yellow;
}

.character-box .character-name {
    margin-top: 5px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.character-box .character:hover {
    background-color: aqua;
}

.character-box .active:hover {
    background-color: yellow;
}

.character:hover ~ .character-name {
    visibility: visible;
    opacity: 1;
}

.maps {
    display: flex;
    max-width: 800px;
    flex-flow: wrap;
}

.map-box {
    margin: auto;
}

.map {
    border: 2px solid black;
    border-radius: 50%;
    overflow: hidden;
    height: 100px;
}

.map-box .map-name {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.map:hover ~ .map-name {
    visibility: visible;
    opacity: 1;
}

.maps-box .active-map {
    opacity: 0.6;
}

/*
.sides-body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.side-box {
    margin: auto;
    width: 60%;
    height: 25%;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 50%;
}
.side-box .red:hover {
    background-color: rgb(213, 26, 26);
    border-radius: 50%;
    color: white;
}

.side-box .blue:hover {
    background-color: rgb(0, 47, 255);
    border-radius: 50%;
    color: white;
}

.selected {
    background-color: yellow;
    border-radius: 50%;
    color: white;
} */

.active-map .map {
    margin: auto;
}